RewriteEngine On
RewriteBase /
RewriteRule ^$ /Download [L]
RewriteRule ^robloxmobil/Auth/GetToken$ /Auth/Login.php [L]
RewriteRule ^robloxmobil/iPhone/Upgrade/([0-9]+(\.[0-9]+)?)$ /Auth/UpdateCheck.php?version=$1 [L]
RewriteRule ^Authenticate/([\w-]+)/$ /Auth/validate.php?username=$1 [L,QSA]
RewriteRule ^robloxmobil/iPhone/Setting/$ /Settings/iPhone.php [L]
RewriteRule ^robloxmobil/User/MyInfo$ /User/MyInfo.php [L]
RewriteRule ^robloxmobil/Messaging/MessageCounts$ /Messaging/MessageCount.php [L]
RewriteRule ^robloxmobil/Messaging/GetMessages$ /Messaging/GetMessages.php [L]
RewriteRule ^robloxmobil/User/CreateUser$ /Auth/Register.php [L]
RewriteRule ^robloxmobil/Thumbnail/GetThumbnail$ /User/GetThumbnail.php [L]
RewriteRule ^robloxmobil/Friend/FriendCounts$ /Friends/FriendCount.php [L]
RewriteRule ^robloxmobil/Friend/MyFriends$ /Friends/GetFriends.php [L]
RewriteRule ^robloxmobil/Friend/MyPendingFriendRequests/$ /Friends/GetPendingRequests.php [L]
RewriteRule ^robloxmobil/Friend/MyBestFriends$ /Friends/GetBestFriends.php [L]
RewriteRule ^robloxmobil/Friend/RemoveFriend/$ /Friends/RemoveFriend.php [L]
RewriteRule ^robloxmobil/User/FindUser$ /User/Search.php [L]
RewriteRule ^robloxmobil/Friend/SendFriendRequest$ /Friends/AddFriend.php [L]
RewriteRule ^robloxmobil/Friend/AcceptFriendRequest$ /Friends/AcceptFriendRequest.php [L]
RewriteRule ^robloxmobil/Friend/DeclineFriendRequest$ /Friends/DeclineFriendRequest.php [L]
RewriteRule ^robloxmobil/Friend/IsFriend/$ /Friends/IsFriend.php [L]
RewriteRule ^robloxmobil/User/send$ /User/SearchUser.php [L]
RewriteRule ^robloxmobil/Messaging/SendMessage$ /Messaging/SendMessage.php [L]
RewriteRule ^robloxmobil/Messaging/MarkMessageAsRead$ /Messaging/MarkMessageAsRead.php [L]
